.gray{
    background-color:rgb(41, 39, 39);
    padding: 4%;
}

.col-1{
    border: 1px solid white;
}

.orange{
    background-color: rgb(255, 102, 0);
}

.jaune{
    background-color: yellow;
}

.noir {
    background-color: black;
}